/* Estilos para la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 150px); /* 5 columnas de 150px cada una */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar la cuadrícula horizontalmente */
}

.grid-item {
  width: 150px; /* Elige el ancho deseado para cada tarjeta */
  border-radius: 10px;
}

.grid-item mat-card {
  border-radius: 10px; /* Redondear el contenedor de la tarjeta */
  overflow: hidden; /* Asegurarse de que la imagen se muestre dentro del contenedor redondeado */
}

.grid-item img {
  width: 100%; /* Ajustar el tamaño de la imagen al contenedor */
  height: auto;
  display: block; /* Asegurarse de que la imagen no tenga espacios en blanco adicionales */
  border-radius: 10px; /* Redondear la imagen */
}
