<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>The MovieDB API</span>
    <span class="example-spacer"></span>
    <span class="example-fill-remaining-space"></span>
    <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="isDrawerOpened" class="vertical-drawer">
        <div class="button-container">
            <button mat-button routerLink="blog">Peliculas</button>
            <button mat-button>Usuarios</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <router-outlet>
            <app-login></app-login>
        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<!--<app-lista-peliculas></app-lista-peliculas>-->