.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Hide any overflow content */
}

.mat-toolbar {
  background-color: #b61d1d;
  padding: 8px;
  display: flex;
  align-items: center;
}

.example-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  overflow: hidden; /* Hide any overflow content */
}

.vertical-drawer {
  width: 250px; /* Adjust the width of the drawer as needed */
}

.mat-drawer-content {
  flex: 1; /* Allow the content to expand and fill the remaining space */
  overflow: auto; /* Allow content to scroll if necessary */
  padding: 16px; /* Optional: Add padding to the content area */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Optional: Align the buttons to the left */
  padding: 16px; /* Optional: Add some spacing between the buttons */
}
.example-spacer {
  flex: 1 1 auto;
}
.user-container {
  display: flex;
  align-items: center; /* Align items vertically at the center */
}
.gradient-background {

  background: linear-gradient(to bottom, #258880, #477757);

}
.with-background {
  background-color: #663030; /* Reemplaza el color con el que deseas darle fondo al drawer */
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.user-container {
 margin-left: 30px;
 margin-top: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}